* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #262626;
}
body {
  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;
}
.cup {
  width: 200px;
  height: 220px;

  border: 6px solid #262626;
  border-top: 2px solid transparent;
 border-radius: 5px 5px 15px 15px;

  box-shadow: 0 0 0 6px #fff, 0 20px 30px rgba(0, 0, 0, 1);
  background: url(https://image.ibb.co/fmHm66/wave.png);

  background-repeat: repeat-x;
  background-size: cover;

  animation: animate 10s linear infinite;
}
.handle {
  position: absolute;
  transform: translate(150px, -20px);
  height: 100px;
  width: 100px;
  border: 6px solid white;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
span {
  position: fixed;
  top: 20%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow";
  color: white;
  font-weight: bolder;
  font-size: larger;
}

@keyframes animate {
	0% {
		background-position: 0 150px;
	}
	10% {
		background-position: 84px 150px;
	}
	20% {
		background-position: 168px 112.5px;
	}
	30% {
		background-position: 252px 75px;
	}
	40% {
		background-position: 336px 37.5px;
	}
  50% {
		background-position: 420px 0px;
	}
	60% {
		background-position: 504px 37.5px;
	}
	70% {
		background-position: 588px 75px;
	}
	80% {
		background-position: 672px 112.5px;
	}
	90% {
		background-position: 756px 150px;
	}
	100% {
		background-position: 845px 150px;
	}
}
